
/* * {
    outline: red 1px solid;
} */

body {
    background-color: black;
}

.sf-logo {
    background-image: url('../images/sf_logo.png');
    background-size: 600px;
    width: 600px;
    height: 317px;
    background-repeat: no-repeat;
    z-index: 2;
    display: block;
}

.jquery-logo {
    background-image: url('../images/jquery_logo.png');
    background-size: 600px;
    width: 600px;
    height: 317px;
    background-repeat: no-repeat;
    margin-top: 15%;
    z-index: 2;
    display: block;
    display: none;
}


/* class for the main section at the beginning of the body */

.game-area {
    background: white;
    min-width: 1200px;
    min-height: 500px;
    margin-top: 125px;
    padding-left: 100px;
    position: relative;
    z-index: 1;
}

.ryu-container,
.ryu {
    float: left;
}


/* Here are the images for the Ryu DIV tags. */

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
    /* THIS IS NOT WORKING??!!
	filter: hue-rotate(90deg); */
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
    display: block;
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
    display: block;
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
    display: block;
}


/* Giving the Ryu images same sizing */

.ryu-ready,
.ryu-still,
/* .ryu-throwing, */
.ryu-cool {
    width: 659px;
    height: 494px;
}


.ryu-throwing {
	width: 545px;
	height: 494px;

}

/* This will keep images hidden in default state. */

.ryu-ready,
.ryu-throwing,
.ryu-cool {
    display: none;
}


/* Making sure images stay contained .*/

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    /* WHEN I TRIED SETTING THIS TO ABSOLUTE IT DID NOT WORK */
    position: relative;
    top: 167px;
    left: -212px;
    z-index: 10;
    float: left;
    display: none;
}

.text-container {
    position: absolute;
    left: 650px;
    height: 425px;
    width: 600px;
    padding-top: 75px;
}

#jquery-text {
    display: block;
    color: steelblue;
    font-family: 'Carter One', cursive;
    font-size: 14px;
    text-align: center;
    padding-left: 198px;
}

.game-rules {
    display: block;
    color: darkred;
    font-family: 'Carter One', cursive;
    font-size: 50px;
    width: 600px;
    display: none;
}

.game-rules p {
    width: 50%;
    /*     color: black; */
    font-size: 28px;
    line-height: 45px;
}


/* HOW DOES THIS WORK? CAN WE DISCUSS?? */

.game-rules p + p {
    margin-left: 275px;
}
